@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homepage.css" />
<div class="wrapper">
    <h1 class="display-4 typing-demo">Welcome to Clinic Management System!</h1>
</div>